<h2> <%= @expert.major  %></h2>

<h3>
<%= @expert.name %>
</h3>

<p><%= @expert.bio %></p>
    <button class="btn waves-effect waves-light" type="submit" name="action"> 
        <%= button_to "Book A Session", new_reservation_path, :method => "get" %>
        <i class="material-icons right">send</i>  
    </button>


